/*----login style begin----*/
.login-box {
  border: 1px solid #DCDFE6;
  width: 350px;
  padding: 15px 35px 15px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 0 25px #909399;
  background: azure;
  position: absolute;
  top: 20%;
  left: 35%;
  right: 35%;
  z-index: 2;
}

@media (max-width: 960px) {
  .login-box {
    border: 1px solid #DCDFE6;
    width: 350px;
    padding: 15px 35px 15px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 25px #909399;
    background: azure;
    position: absolute;
    top: 20%;
    left: 5%;
    right: 5%;
    z-index: 2;
  }
}

.login-title {
  text-align: center;
  color: #303133;
}

.login-btn {
  margin: 0 30px 0 30px;
}

.login-to-home {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  transition: all 1s;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 2;
}

.login-to-home:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.login-icon {
  height: 60px;
  width: 60px;
  opacity: 0.7;
  border-radius: 30px;
  transition: all 1s;
  position: absolute;
  left: 45%;
  top: 5%;
  z-index: 2;
}

.login-icon:hover {
  opacity: 1;
  transform: scale(1.5) rotate(360deg);
}

.login-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-image: url("../../src/assets/background.png");
}

.login-svg {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  transition: all 0.5s;
  margin: 0 20px 0 20px;
}

.login-svg:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/*----login style end----*/

/*----back_to_top style start----*/
.back-to-ceiling {
  position: fixed;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #409eff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .12);
  cursor: pointer;
  z-index: 5;
}

.back-to-ceiling:hover {
  background: #d5dbe7;
}

.back-to-ceiling .Icon {
  fill: #9aaabf;
  background: none;
}

/*----back_to_top style end----*/


/*----media style start----*/
.play-box {
  position: relative;
  display: block;
}

.video-box {
  width: 100%;
  height: 100%;
  background-color: #454545;
  color: #333;
  text-align: center;
  position: fixed;
  overflow-y: scroll;
}

.video-player {
  position: relative;
}

.unlock-msg {
  height: 23%;
  padding-top: 34px;
  background: rgba(0, 0, 0, .6);
  position: absolute;
  width: 90%;
  top: 15%;
  margin-left: 10%;
  text-align: right;
  color: #fe8700;
  font-size: 20px;
  font-weight: 700;
}

.media-header{
  margin: 20px 0 0 20px;
  color: #f0f7ff;
}

.media-name {
  text-align: left;
  color: #f0f7ff;
}

@media (max-width: 960px) {
  .media-name {
    display: none;
  }
}

.media-h5 {
  text-align: left;
  width: 70%;
  margin-left: 15%;
  color: #f0f7ff;
}

.media-a {
  color: #f0f7ff;
}

.media-similar-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.media-similar-list li {
  list-style: none;
  margin: 25px;
  width: 20%;
}

@media (max-width: 960px) {
  .media-similar-list li {
    list-style: none;
    margin: 20px 0;
    width: 80%;
  }
}

.media-img {
  width: 100%;
  cursor: pointer;
}

.media-h4 {
  color: #ecd1bb;
  cursor: pointer;
}

.media-similar {
  margin: 15px 20px 8px;
  border-bottom: 1px solid #9d9d9d;
  text-align: left;
  color: #f0f7ff;
}

.bg-purple {
  background: #454545;
}

.video-plan {
  width: 200px;
}

.video-plan-name {
  color: #fff;
  font-size: 16px;
  line-height: 56px;
  text-align: center;
  background: #ec567c;
  border-radius: 5px 5px 0 0;
}

/*----media style end----*/

/*----news style start----*/
.news-el-aside {
  color: #333;
  text-align: center;
  position: absolute;
  top: 60px;
  bottom: 0;
}

.news-el-main {
  text-align: left;
  color: #333;
  position: absolute;
  top: 60px;
  left: 100px;
  right: 0;
  bottom: 0;
}

.news-el-menu-item {
  height: 30px;
  line-height: 30px;
}

.news-el-main li {
  list-style: none;
  margin-top: 20px;
  width: 40%;
}

.news-el-main a {
  text-decoration: none;
}

.news-title {
  font-size: 24px;
  display: block;
}

@media (max-width: 960px) {
  .news-title {
    font-size: 15px;
  }
}

.news-time {
  font-size: 12px;
  color: #333;
}

.news-pic {
  position: relative;
}

.news-img{
  width: 480px;
}

.news-src {
  font-size: 13px;
  margin-right: 10px;
}

/*----news style end----*/

/*----forum style start----*/
.skin_normal{
  height: 100%;
  background-color: #dceffe;
  position: relative;
  top: 60px;
}

.forum-wrap{
  padding-bottom: 50px;
}

.forum-header{
  width: 70%;
  margin: 0 auto;
}

.forum-content {
  width: 80%;
  margin: 0 auto;
  background: #fff;
}

.card_banner {
  display: block;
  position: relative;
  overflow: hidden;
  _zoom: 1;
}
/*----forum style end----*/
